
<div class="small-12 columns hide-for-large-up">
	<ul>
		{{#each model}}
		<li>{{#link-to 'schedule' this}}{{internalTitle}}{{/link-to}}</li>
		{{/each}}
	</ul>
	{{#link-to 'schedule' null}}new{{/link-to}}
</div>
