
<div class="small-12 columns hide-for-large-up">

	<h1>{{t acolytes.title}}</h1>

	<ul class="acolytelist">
		{{#each model}}
		<li>{{#linkTo 'acolytes.edit' this.id}}{{givenName}} {{surName}}{{/linkTo}}</li>
		{{/each}}
		<li class="divider"></li>
		<li class="new-ministrant">{{#link-to 'acolytes.new'}}neu{{/link-to}}</li>
	</ul>
</div>
