@import "../bower_components/foundation/scss/foundation.scss"
@import "chat"

.acolytelist
  list-style-type: none
  @include side-nav()

input[type=text].headlineedit
  $input-font-size: rem-calc(35)
  @include form-element

div.collapse-input input
  margin: 0

a.tab-bar-icon
  font-weight: 900
  line-height: $tabbar-header-line-height
  margin: $tabbar-header-margin
  font-size: $h5-font-size
  &.back
    fill: #{$off-canvas-label-color}

aside.right-off-canvas-menu
  height: 100vh

ul.acolyte-drag-list
  list-style-type: none
  li
    padding: 5px
    &:before
      margin-right: 10px
      color: grey
      content: ""
      height: 1px
      width: 1px
      display: inline-block
    &:hover:before
      box-shadow: 1px 0px 0px black, 1px -3px 0px 0px black, 1px -6px 0px 0px black, 1px -9px 0px 0px black, 1px -12px 0px 0px black, -1px 0px 0px black, -1px -3px 0px 0px black, -1px -6px 0px 0px black, -1px -9px 0px 0px black, -1px -12px 0px 0px black
  
fieldset.widget
  margin-bottom: 1em

$drag-over-shadow-color: lighten($primary-color, 30%)
$drag-over-background-color: lighten($primary-color, 60%)

input.drag-over
  box-shadow: 0 0 5px $drag-over-shadow-color
  background-color: $drag-over-background-color

.leftoffcanvas
  position: absolute
  left: -4000px
  top: 0px

.full
  max-width: 100% !important

