<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
		<h1>
			<a href="#">Miniplan<sup>by q8e</sup></a>
		</h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li class="active">{{#link-to 'ministrants'}}Ministranten{{/link-to}}</li>
			<li class="has-dropdown">
			<a href="#">Minipläne</a>
			<ul class="dropdown">
				<li>
				<a href="#">First link in dropdown</a>
				</li>
			</ul>
			</li>
		</ul>
	</section>
</nav>

{{outlet}}


