
<div class="row collapse">
	<div class="small-3 columns">
		<select class="prefix"><option>@</option><option>A</option></select>
	</div>
	<div class="small-9 columns">
		{{input type=htmlInputType value=value}}
	</div>
</div>


