
<div class="small-12 columns">
	<ul class="breadcrumbs">
		<li>{{#link-to 'index'}}Miniplan{{/link-to}}</li>
		<li class="active">Ministranten</li>
	</ul>
</div>


<h1>Ministranten</h1>

<ul>
 {{#each model}}
 <li>{{#linkTo 'ministrant' this}}{{givenName}} {{surName}}{{/linkTo}}</li>
  {{/each}}
</ul>
