
<div class="small-12 columns">
	<h1>{{t schedules.title}}</h1>
</div>

<div class="large-3 columns show-for-large-up">
	<ul>
		{{#each model}}
		<li>{{#link-to 'schedule' this.id}}{{internalTitle}}{{/link-to}}</li>
		{{/each}}
	</ul>
	{{#link-to 'schedule' null}}new{{/link-to}}
</div>

<div class="large-9 small-12 columns">
    {{outlet}}
</div>
